ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #3a3a3a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #f4f4f4;
}

ul li:hover {
    background-color: #555;
    cursor: pointer;
}
